# ignore files
*.zip
*.rds
*.feather
*.csv

# ignore dirs
/.vscode/
/.ipynb_checkpoints/
/data/
/literature/
/pretrained_models/
/writing/
/code/logs
/code/step-by-step
.vector_cache/
lightning_logs/
