# ignore files
*.zip
*.rds
*.feather
*.csv
settings.json

# ignore dirs
.ipynb_checkpoints
.vscode
/data
/literature
/models/Long-Tailed-Recognition.pytorch
/models/pretrained_MonoDepth2
/models/mmdetection

